 @import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body { 
 font-family: "Poppins", sans-serif;
 scroll-behavior: smooth;
 font-family: 'Akaya Kanadaka', cursive;
 font-family: 'Amiri', serif;   
 
}
:root{
    --primary:rgb(116, 217, 243);
    --secondary:rgba(15, 10, 0, 0.849);
    --light:#2f3640;
}
header{
    width: 100%;
    height: 100vh;
}
.nav1{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 2px 0px 3px grey;
    text-align: center;
}
.nav1 .left{
    flex-basis: 50%;
    letter-spacing: 2px;
}
.nav1 .left a{
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    margin: 0px 5px;
}
.right{
    flex-basis: 50%;
}
.right a{
    font-size: 20px;
    margin: 0px 15px;
    background-color: var(--primary);
    color: #fff;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}
.nav1 .right i:hover{
    transform: rotate(360deg);

}
.nav2{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.nav2 .nav2-left,.nav2 .nav2-center,.nav2 .nav2-right{
    flex-basis: 30%;
    margin: auto;
    cursor: pointer;

}
.nav2 .nav2-left i{
    margin-left: 15px;
}
.nav2 .nav2-center h1{
    color: var(--primary);
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: bold;
}
.nav2 .nav2-center h1 span{
    color: var(--secondary);
}
.nav2 .nav2-center p{
    color: grey;
    font-size: 15px;
    margin-top: 5px;
}
.nav2 .nav2-right i{
    margin: 0px 5px;
}
.nav3{
    width: 100%;
    height: 70px;
    line-height: 70px
}
.nav3 ul{
    list-style: none;
    text-align: center;
}
.nav3 ul li{
    display: inline-block;
    width: 150px;
    position: relative;
    z-index: 99;
}
.nav3 ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    display: block;
    font-size: 1.3rem;
}
.nav3 ul li a:hover{
    color: var(--primary);
}
.nav3 ul li i{
    color: var(--primary);
    margin: 0px 5px;
}
.featured{
    width: 100%;
    height: 60vh;
    background:linear-gradient(to right,rgba(0,0,0,1) 20%,rgba(255,255,255,0.2)) url(img/idm.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}
.featured-text{
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 10%;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    letter-spacing: 5px;
   font-family: 'Akaya Kanadaka', cursive;
}
.featured-text button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: var(--primary);
    margin: 20px 0px;
    color: #000;
}
.home{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    background:linear-gradient(to right,rgba(49, 148, 181, 0.431) 20%,rgba(255,255,255,0.2)), url(img/idm.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
}

.home .content{
    max-width: 60rem;
}

.home .content h1{
    font-size: 4rem;
    text-transform: uppercase;
    color:rgb(116, 238, 242);
    top: 60%;
    left: 60%;
    position: absolute;
    align-items: center;
    font-family: 'Amiri', serif; 
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:var(--primary);
}
.latest{
    padding: 50px 100px;
}
.product-intro{
    text-align: center;
}


.product-intro h1{
    color: var(--primary);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: bolder;
}
.product-intro h1 span{
    color: var(--secondary); 
}
.product-intro p{
    color: grey;
    margin: 15px 0;
}
.card-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 4rem 0;
    flex-wrap: wrap;
}
.card-container .card{
    flex-basis: 20%;
    padding: 0.8rem;
    position: relative;
}
.card img{
    width: 80%;
    transition: 0.5s ease-in-out;
}
.card i{
    color: goldenrod;
    margin: 10px 0;
}
.card button{
    color: white;
    background-color: var(--secondary);
    border: none;
    outline: none;
    margin-top: 15px;
    padding: 5px 20px;
}
.card:hover img, .card:hover h1{
    width: 70%;
    color: var(--primary);
}
.card::before{
    content: '10%';
    width: 20%;
    height: 25px;
    line-height: 25px;
    color: white;
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: var(--primary);
    padding: 0px 4px;
    transform: rotate(-20deg);
}
.trends{
    padding: 50px 100px;
    background-color: rgba(0, 0, 0, 0.01);
}
.trends .swiper {
    width: 100%;
    padding: 50px;
  }

  .trends .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .trends .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
#sako{
    text-align: center;
    font-size: 2rem;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 20%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .2rem;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    background-color: var(--primary);
    color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    
}
.btn-purchase a{
    text-decoration: none;
    color: #fff;
}
.footer{
    background:rgb(255, 255, 255);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:rgb(0, 0, 0);
    border:.1rem solid rgba(255,255,255,.3);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--primary);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:rgb(0, 0, 0);
    border:.1rem solid rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    text-decoration: none;
}

.footer .links a:hover{
    background:var(--primary);
}

.footer .credit{
    font-size: 2rem;
    color:rgb(0, 0, 0);
    font-weight: lighter;
    padding:1.3rem;
}

.footer .credit span{
    color:var(--primary);
}
footer{
    background-color: var(--secondary);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
footer div{
    flex-basis: 30%;
}
footer h1{
    letter-spacing: 0.5rem;
}
footer h1 span{
    color: var(--primary);
}
footer p{
    font-size: 1rem;
}
footer a{
    margin: 0px 5px;
    color: #fff;
    text-decoration: none;
}
#sidenav{
    display: none;
}
#menubar{
    display: none;
}
@media only screen and (max-width:700px) {
    #sidenav{
        display: block;
    }
    #menubar{
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);z-index: 99;
        background-color: var(--primary);
        color: white;
        font-size: 2rem;
        padding: 20px 10px;
        animation: animate 5s ease infinite;
    }
    @keyframes animate {
        0%{
            background-color: var(--secondary);
        }
        100%{
            background-color: var(--primary);
        }
    }
    #sidenav{
        width: 0px;
        height: 83vh;
        line-height: 75px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: var(--light);
        padding-top: 70px;
        display: block;
        overflow: hidden;
        transition: 0.5s ease-in-out;

    }
    #sidenav ul{
        list-style: none;
      
    }
    #sidenav ul li{
        display: block;
        width: 200px;
        position: relative;
        z-index: 99;
        margin: 10px 20px;
    }
    #sidenav ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 500;
        display: block;
        font-size: 20px;
        padding: 10px 20px;
    }
    #sidenav ul li a:hover{
        color: var(--primary);
    }
    #sidenav ul li i{
        color: white;
        margin: 0px 5px;
    }
    
    
    .nav1{
     
        position: relative;
        z-index: 2;
        background-color: white;
    }
    .right a{
       font-size: 15px;
       margin: 0px 5px;
    }
    .nav2{
        width: 100%;
        height: 90px;
    }
    .nav2 .nav2-left i{
        margin-left: 5px;
        font-size: 1rem;
       
       
    }
    .nav2 .nav2-center h1{
        font-size: 1.3rem;
        letter-spacing: 2px;
    }
    .nav2 .nav2-center p{
        color: grey;
        font-size: 15px;
        margin-top: 15px;
    }
    .nav2 .nav2-right i{
        margin: 0px 5px;
        margin-bottom: 50px;
    }
    .nav3{
        display: none;
        text-align: center;
        
    }
   
    .home{
        
        width: 100%;
        background:linear-gradient(to right,rgba(49, 148, 181, 0.431) 20%,rgba(255,255,255,0.2)), url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.claytonseafoodmarket.com%2F&psig=AOvVaw2R-5GpA4R1K0g3x2Wtkvau&ust=1676823324853000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMi5jPe7n_0CFQAAAAAdAAAAABAX) no-repeat;
        background-attachment: fixed;
        margin-top: 30px;
    }
    .home .content h1{
        font-size: 2rem;
        position: absolute;
        top: 80%;
        left: 20%;
    }
    .latest{
        padding: 0px 50px;
    }
    .product-intro{
        text-align: center;
    }
    
    
    .product-intro h1{
        color: var(--primary);
        letter-spacing: 0.2rem;
        font-size: 2rem;
        font-weight: bolder;
    }
    .product-intro h1 span{
        color: var(--secondary); 
    }
    .product-intro p{
        color: grey;
        margin: 10px 0;
    }
    .card-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        margin: 2rem 0;
        flex-wrap: wrap;
    }
    .card-container .card{
        flex-basis: 40%;
        padding: 0.8rem;
        position: relative;
    }
    .card img{
        width: 100%;
        transition: 0.5s ease-in-out;
    }
    .card i{
        color: goldenrod;
        margin: 5px 0;
    }
    .card button{
        color: white;
        background-color: var(--secondary);
        border: none;
        outline: none;
        margin-top: 15px;
        padding: 5px 20px;
        border-radius: 20px;
    }
    .trends{
        padding: 20px 50px;
        background-color: rgba(0, 0, 0, 0.01);
    }
    .trends .swiper {
        width: 100%;
        padding: 0px;
      }
    
      .trends .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 230px;
        height: 230px;
      }
    
      .trends .swiper-slide img {
        display: block;
        width: 80%;
        height: 100%;
      }
      .cart-item {
        width: 100%;
      }
      
      .btn-purchase a{
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
    }
     footer div{
        flex-basis: 50%;
    }
    footer h1{
        letter-spacing: 0.5rem;
    }
    footer h1 span{
        color: var(--primary);
        font-size: 1.5rem;
    }
    footer p{
        font-size: 0.9rem;
    }
    footer a{
        margin: 0px 1px;
        color: #fff;
        text-decoration: none;
        
    }
    .sis h1{
        font-size: 1.5rem;
    }
    .idm{
        font-size: 25px;
         margin-top: 20px;
    }
    .port p{
        font-size: 1rem;
    }
      
      
}
